<h2>Are you a Goth Vendor Without An Account?</h2>
<h3>Sign up for an account here!</h3>

<form action="" method="post">
  <label for="vendor[username]">Username</label>&nbsp;<input type="text" name="vendor[username]" value=""><br>
  <label for="vendor[email]">Email address</label>&nbsp;<input type="text" name="vendor[email]" value=""><br>
  <label for="vendor[description]">Description</label>&nbsp;<input type="textarea" name="vendor[description]" value=""></textarea><br>

  <input type="submit" value="Create account">
</form>
