    <style>

        #map { height: 400px; }

    </style>

    <div id="map"></div>

    <div id="myResults"></div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
    <script>
    // Provide your access token
    var map = L.map('map').setView([47.65, -122.4], 11);

    L.tileLayer('http://{s}.tiles.mapbox.com/v3/skwak.joejafje/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 21
    }).addTo(map);

    </script>

    <script type="text/javascript">
        //Use jQuery to call the API and get results
        $(document).ready(function(){

            //This is the URL (address) to the API endpoint you're interested in
            var URL = "markets.json";

            $.getJSON(URL, function(result){

                //After the API is successfully called, the flow comes here.
                $.each(result, function(idx, item){
                    if(item.latitude && item.longitude){
                        L.marker([item.latitude, item.longitude]).addTo(map);
                    }
                });

            });

        });
    </script>


<h2>All Goth Markets</h2>

<% @markets.each do |market| %>
  <li>Name: <%= market.name %></li>
  <li>Location: <%= market.address %></li>
  <hr>
<% end %>
