<h2>New Market</h2>

<form method="POST" action="<%= new_market_path %>">
  Name: <input type="text" name="market[name]">
  Location: <input type="text" name="market[location]">
  <input type="submit" value="add market">
</form>
