<h2>New Market</h2>

<form method="POST" action="<%= new_market_path %>">
  <label for="market[name]">Name:</label><input type="text" name="market[name]">
  <label for="market[address]">Address</label>: <input type="text" name="market[address]">
  <input type="submit" value="add market">
</form>
