<h2>Market Information</h2>

<ul>
  <li>Name: <%= @market.name %></li>
  <li>Location: <%= @market.address %></li>
  <li>Latitude: <%= @market.latitude %></li>
  <li>Longitude: <%= @market.longitude %></li>
</ul>
